
@media (min-width: 1025px) {
}

body {
width: 100%;
height: 100vh;
margin: 0 ;
background-color: #e5f2ed;
color: #0e0e0e;
font-family: Tahoma;
font-size: 16px;
}

h1, h2, p {
margin: 1em auto;
text-align: center;
}


form {
width: 60vw;
max-width: 500px;
min-width: 300px;
margin: 0 auto;
padding-bottom: 2em;
}

fieldset {
border: none;
padding: 2rem 0;
border-bottom: 3px solid #f1f1f6;
}

fieldset:last-of-type {
border-bottom: none;
}

label {
display: block;
margin: 0.5rem 0;
}

input,
textarea,
select {
margin: 10px 0 0 0;
width: 100%;
min-height: 2em;
}

input, textarea {
background-color: #fff;
border: 1px solid #0e0e0e;
color: #070707;
}

.inline {
width: unset;
margin: 0 0.5em 0 0;
vertical-align: middle;
}

input[type="submit"] {
display: block;
width: 60%;
margin: 1em auto;
height: 2em;
font-size: 1.1rem;
background-color: #0a0a0a;
border-color: rgb(8, 8, 8);
min-width: 300px;
color:#fcfcfc;
}

input[type="file"] {
padding: 1px 2px;
}

a{
color: #141415;
}
.section-img{
width: 50%;

}
main{
background-color: #f9fcfa;
color: #0c0c0c;

}
.card {
margin: 0 auto;
height: 100%;

}
/*sidebar {

top: 20px;
left: 20px;
height: 100%;
color: #fff;
background: rgb(5, 68, 104);
position: absolute;
width: 225px;
padding: 200px ;

} 

ul {
list-style: none;
padding: 0;
margin: 0;
display: inline;
}

li {
margin-bottom: 5px;
;
}
header {
background-color: #2eca89;
}

.sidebar a {
color: #02180b;
text-decoration: none;
}

.main-content {
margin-left: 200px;
padding: 20px;
}*/



@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
overflow-x: hidden;
font-family: 'Roboto', sans-serif;
font-size: 16px;
}

/* Toggle Styles */

#viewport {
padding-left: 250px;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

#content {
width: 100%;
position: relative;
margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
z-index: 1000;
position: fixed;
left: 250px;
width: 250px;
height: 100%;
margin-left: -250px;
overflow-y: auto;
background: #37474F;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

#sidebar header {
background-color: #263238;
font-size: 20px;
line-height: 52px;
text-align: center;
}

#sidebar header a {
color: #fff;
display: block;
text-decoration: none;
}

#sidebar header a:hover {
color: #fff;
}


#sidebar .nav a{
background: none;
border-bottom: 1px solid #455A64;
color: #CFD8DC;
font-size: 14px;
padding: 16px 24px;
}

#sidebar .nav a:hover{
background: none;
color: #ECEFF1;
}

#sidebar .nav a i{
margin-right: 16px;
}



